{{!-- https://github.com/miguelcobain/ember-paper/blob/master/tests/dummy/app/templates/components/page-toolbar.hbs --}}
{{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar"}}
  {{#paper-toolbar-tools}}

    {{!-- Sidenav Menu Button (on mobile) --}}
    {{#paper-sidenav-toggle name="left" as |toggleAction|}}
      {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}

    {{!-- Toolbar Title --}}
    <h2 class="page-toolbar-title">
      {{pageTitle}}
    </h2>

    {{!-- Right Toolbar Buttons --}}
    <span class="flex"></span>
    {{!-- {{#paper-menu isOpen=menuFourIsOpen position="target-right target" as |menu|}}
      {{#menu.trigger}}
        {{#paper-button onClick=null iconButton=true}}
          {{paper-icon "more_vert" class="md-menu-origin"}}
        {{/paper-button}}
      {{/menu.trigger}}

      {{#menu.content width=2 as |content|}}
        {{#content.menu-item onClick=(action "delete")}}
          <span class="md-menu-align-target">Delete</span> {{item}}
        {{/content.menu-item}}
        {{#content.menu-item onClick=(action "merge")}}
          <span class="md-menu-align-target">Merge</span> {{item}}
        {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}} --}}


    {{#if createRoute}}
      {{#paper-button href=createRoute}}
        Create
      {{/paper-button}}
    {{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}