{{#paper-item class="payee-list-item md-2-line"}}
  <img src={{payee.image}} alt={{payee.name}} class="md-avatar payee-list-item-avatar">
  <div class="md-list-item-text payee-list-item-text">
    <LinkTo @route="payees.read" @model={{payee}}>
      <h3 class="payee-list-item-text-name">{{payee.name}}</h3>
    </LinkTo>
    <p class="payee-list-item-text-website">{{payee.website}}</p>
  </div>
  <div class="md-secondary-container">
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button onClick=null iconButton=true}}
          {{paper-icon "more_vert" class="md-menu-origin"}}
        {{/paper-button}}
      {{/menu.trigger}}

      {{#menu.content width=2 as |content|}}
        {{#each menuItems as |item|}}
          {{#content.menu-item onClick=(action item.action)}}
            <span class="md-menu-align-target">{{item.title}}</span>
          {{/content.menu-item}}
        {{/each}}
      {{/menu.content}}
    {{/paper-menu}}
  </div>
{{/paper-item}}

{{#if confirmDeleteDialog}}
  {{dialog-confirm-delete name=payee.name message="Please confirm deletion of payee" delete=(action "deletePayee")}}
{{/if}}