{{page-toolbar pageTitle="NEW PAYEE"}}

{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div id="payee" class="doc-content layout-row layout-xs-column layout-align-center">
    <div class="layout-column flex-xs flex-gt-sm-70">

      {{#paper-card as |card|}}

        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}Create Payee{{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content}}

          <div class="layout-column flex">
            {{paper-input class="flex-100 payee-name" type="text" label="Payee Name" placeholder="Enter Payee Name" value=this.name onChange=(action (mut this.name)) }}

            {{paper-input class="flex-100 payee-image" type="text" label="Payee Image" placeholder="Enter Payee Image" value=this.image onChange=(action (mut this.image)) }}

            {{paper-input class="flex-100 payee-website" type="text" label="Payee Website" placeholder="Enter Payee Website" value=this.website onChange=(action (mut this.website))}}

            {{paper-input class="flex-100 payee-description" textarea=true label="Payee Description" placeholder="Enter Payee Description" value=this.description onChange=(action (mut this.description)) block=true maxlength=300 passThru=(hash rows=7 maxRows=7)}}
          </div>

        {{/card.content}}

        {{#card.actions}}
          {{#paper-button class="payee-create" raised=true primary=true onClick=(action "createPayee")}}CREATE{{/paper-button}}
        {{/card.actions}}

      {{/paper-card}}

    </div>
  </div>
{{/paper-content}}